<template>
    <div class="admins">
        <!-- Event Modal-->
        <div class="fixed w-full h-full top-0 left-0 flex items-start justify-center z-10" :class="(createNewAdmin == true) ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
            <div class="absolute w-full h-full bg-gray-900 opacity-75"></div>
            <div class="bg-white w-11/12 md:w-1/2 mx-auto rounded shadow-lg mt-6 z-50 overflow-y-auto">
                <div class="modal-content text-left">
                    <div class="flex justify-between items-center p-4 border-b">
                        <p class="text-2xl font-bold">Create New Admin</p>
                        <div @click="createNewAdmin = false" class="cursor-pointer z-50">
                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg>
                        </div>
                    </div>
                    <form @submit.prevent="createAdmin" class="w-full lg:w-2/3 mx-auto py-8">
                        <div class="mb-8 relative">
                            <input type="text" placeholder="Name" v-model="newadmin.name" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showNameError">Please insert an Admin Name</span>
                        </div>
                        <div class="mb-8 relative">
                            <input type="email" placeholder="Email" v-model="newadmin.email" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showMailError">Please insert an Admin Email</span>
                        </div>
                        <div class="mb-8 relative">
                            <input type="text" placeholder="Paasword" v-model="newadmin.password" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showPassError">Please generate an Admin Password</span>
                        </div>
                        <PasswordGenerator :pass.sync="newadmin.password" />
                        <div class="relative">
                            <button class="btn-submit bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-gray-100 border-r border-l border-gray-200 w-full h-screen">
            <div class="bg-gray-100 border-r border-l border-gray-200 w-full h-screen">
                <div class="py-8 px-4 lg:px-12">
                    <div class="p-4 bg-white shadow-lg rounded-lg mb-12 block lg:flex justify-between">
                        <h2 class="text-mainBlue text-2xl">Admins</h2>
                        <div class="relative">
                            <input class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-auto lg:w-128" type="text" v-model="search" placeholder="Search For Admin"/>
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row justify-end mb-12">
                        <div class="w-full lg:w-1/3">
                            <div class="relative overflow-hidden text-center bg-white block p-8 rounded hover:shadow-lg transition cursor-pointer mb-8" @click="createNewAdmin = true">
                                <span class="relative lg:absolute top-0 left-0 text-gray-600" style="top: -5px;" >
                                    <svg viewBox="0 0 24 24" width="5rem" height="6rem" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path data-v-671908f5="" d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle data-v-671908f5="" cx="8.5" cy="7" r="4"></circle><line data-v-671908f5="" x1="20" y1="8" x2="20" y2="14"></line><line data-v-671908f5="" x1="23" y1="11" x2="17" y2="11"></line></svg>
                                </span>
                                <span class="font-bold text-gray-600">Create Admin</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PasswordGenerator from '../components/PasswordGenerator'
export default {
    name: "Admins",
    data() {
        return {
            createNewAdmin: false,
            search: '',
            newadmin: {
                name: '',
                email: '',
                password: ''
            },
            showNameError: false,
            showPassError: false,
            showMailError: false
        }
    },
    components: {
        PasswordGenerator
    },
}
</script>