<template>
    <div class="dashboard">
        <div class="bg-gray-100 border-r border-l border-gray-200 w-full min-h-screen">
            <div class="p-4 lg:p-8">
                <div class="p-4 bg-white shadow-lg rounded-lg mb-12">
                    <h2 class="text-mainBlue text-2xl">Dashboard</h2>
                </div>
                <Welcome :name="name" msg="Reveal the underlying relationships and power dynamics inside networks." />
            </div>
        </div>
    </div>
</template>

<script>
import Welcome from '../components/Welcome'
export default {
    name: "Dashboard",
    data() {
        return {
            name: this.$store.state.name,
        }
    },
    components: {
        Welcome
    },
}
</script>