<template>
    <div class="evsettings">
        <div class="bg-gray-100 border-r border-l border-gray-200 w-full min-h-screen">
            <div class="py-8 px-4 lg:px-8">
                <div class="p-4 bg-white shadow-lg mx-2 rounded-lg mb-6 block lg:flex justify-between">
                    <h2 class="text-mainBlue text-2xl">{{$route.params.title}} Event</h2>
                    <div class="flex">
                        <router-link :to="{ name: 'Events' }" class="bg-mainBlue block rounded shadow hover:shadow-lg transition cursor-pointer text-white flex justify-between items-center px-2">
                            <span class="mr-3">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                    <polyline points="12 19 5 12 12 5"></polyline>
                                </svg>
                            </span>
                            <span class="font-bold">Back</span>
                        </router-link>
                        <div class="ml-4 bg-red-600 block rounded shadow hover:shadow-lg transition cursor-pointer text-white flex justify-between items-center px-2" @click="deleteEvent($route.params.id)">
                            <span class="mr-3">
                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </span>
                            <span class="font-bold">Delete</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full lg:w-1/3 p-2">
                        <div class="relative overflow-hidden text-center bg-white block p-8 rounded hover:shadow-lg transition cursor-pointer mb-8" @click="createNewSession = true">
                            <span class="relative lg:absolute top-0 left-0 text-gray-600" style="top: 3px;" >
                                <svg viewBox="0 0 24 24" width="5rem" height="5rem" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </span>
                            <span class="font-bold text-gray-600">New Session</span>
                        </div>
                    </div>
                    <div class="w-full lg:w-2/3 p-2">
                        <div v-if="!generateRegistration" class="relative overflow-hidden text-center bg-white block p-8 rounded hover:shadow-lg transition cursor-pointer mb-8" @click="generateRegistration = true">
                            <span class="relative lg:absolute top-0 left-0 text-gray-600" style="top: 4px;" >
                                <svg viewBox="0 0 24 24" width="5rem" height="5rem" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </span>
                            <span class="font-bold text-gray-600">Generate Registration Page</span>
                        </div>
                        <div v-else class="relative overflow-hidden text-center bg-white block p-8 rounded hover:shadow-lg transition cursor-pointer mb-8" @click="generateRegistration = false">
                            <span class="relative lg:absolute top-0 left-0 text-gray-600" style="top: 4px;" >
                                <svg viewBox="0 0 24 24" width="5rem" height="5rem" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                    <line x1="19" y1="12" x2="5" y2="12"></line>
                                    <polyline points="12 19 5 12 12 5"></polyline>
                                </svg>
                            </span>
                            <span class="font-bold text-gray-600">Back</span>
                        </div>
                    </div>
                </div>
                <div v-if="generateRegistration" class="flex flex-col lg:flex-row">
                    <div class="w-full lg:w-2/3 p-2">
                        <div class="bg-white shadow-lg rounded-lg">
                            <div class="flex justify-between items-center p-4 mb-4 border-b">
                                <p class="text-2xl font-bold">Generate Event Registration Page</p>
                            </div>
                            <div class="w-full mb-4 p-2 lg:p-6">
                                <div class="flex flex-col lg:flex-row flex-wrap" v-if="!showInput && !showParagraph && !showCheckbox && !showChoice && !showDropdown && !showFileupload">
                                    <div class="w-full lg:w-1/3 mb-4">
                                        <div class="bg-gradient text-white hover:shadow-lg mx-2 transition rounded-lg text-center p-4 cursor-pointer" @click="showInput = true">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" version="1.1" x="0px" y="0px" viewBox="0 0 1024 1280" width="44" height="44" class="mx-auto" xml:space="preserve">
                                                <path d="M76.5,300.3h871c4.5,0,8.1,3.6,8.1,8.1v118.7c0,4.5-3.6,8.1-8.1,8.1h-871c-4.5,0-8.1-3.6-8.1-8.1V308.4    C68.4,303.9,72,300.3,76.5,300.3z"/>
                                                <path d="M76.5,310.3c10.1,0,20.1,0,30.2,0c26.9,0,53.9,0,80.8,0c39,0,77.9,0,116.9,0c46.1,0,92.3,0,138.4,0     c48.3,0,96.6,0,144.8,0c45.9,0,91.8,0,137.8,0c38.4,0,76.8,0,115.3,0c26.3,0,52.7,0,79,0c7.1,0,14.1,0,21.2,0     c1.7,0,3.5,0.2,5.2,0c3.5-0.3-2.2,0.1-0.5-1.9c-0.4,0.5,0,3.4,0,4.1c0,3.3,0,6.7,0,10c0,10.3,0,20.6,0,30.9c0,21.4,0,42.8,0,64.2     c0,2.5-0.2,5.1,0,7.7c0.3,4.2,0.1-1.8,1.9-0.1c-0.3-0.2-1.8,0-2.2,0c-5.2,0-10.4,0-15.6,0c-23.2,0-46.5,0-69.7,0     c-36.5,0-73,0-109.5,0c-44.7,0-89.3,0-134,0c-48.3,0-96.7,0-145,0c-47,0-94,0-140.9,0c-40.8,0-81.6,0-122.3,0     c-29.7,0-59.4,0-89.1,0c-9.2,0-18.4,0-27.6,0c-4.5,0-9.3-0.4-13.8,0c-0.2,0-1-0.1-1.1,0c-0.1,0.1,2.6,1.1,1.7,1.8     c0.4-0.3,0-3.9,0-4.4c0-3.4,0-6.8,0-10.3c0-22.3,0-44.6,0-66.9c0-9.1,0-18.2,0-27.2c0-2.6,0-5.1,0-7.7     C78.4,306.9,78.7,310.1,76.5,310.3c5.4-0.4,10-4.3,10-10c0-5.1-4.6-10.4-10-10c-10.2,0.8-17.7,7.7-18.1,18.2c-0.1,1.5,0,3,0,4.4     c0,8.3,0,16.5,0,24.8c0,23.2,0,46.3,0,69.5c0,6.3-0.1,12.6,0,18.9c0.2,10.6,7.5,18.7,18.3,19.1c3.5,0.1,7.1,0,10.6,0     c21,0,42,0,62.9,0c35.3,0,70.6,0,106,0c44.6,0,89.2,0,133.8,0c49,0,98,0,147,0c48.1,0,96.3,0,144.4,0c42,0,84.1,0,126.1,0     c31,0,62.1,0,93.1,0c15,0,30,0.1,45,0c1.1,0,2.2,0,3.3-0.1c9.7-0.8,16.4-8.7,16.8-18.2c0.1-1.7,0-3.3,0-5c0-20.4,0-40.8,0-61.1     c0-17.2,0.4-34.4,0-51.6c-0.3-10.6-7.7-18.4-18.4-18.9c-1.2,0-2.3,0-3.5,0c-16.7,0-33.5,0-50.2,0c-32.3,0-64.6,0-96.9,0     c-42.8,0-85.6,0-128.4,0c-48.4,0-96.9,0-145.3,0c-48.8,0-97.6,0-146.4,0c-43.9,0-87.9,0-131.8,0c-34.2,0-68.4,0-102.5,0     c-19.4,0-38.7,0-58.1,0c-2.5,0-5.1,0-7.6,0C63.6,290.3,63.6,310.3,76.5,310.3z"/>
                                                <path d="M76.5,588.8h547.7c4.5,0,8.1,3.6,8.1,8.1v118.7c0,4.5-3.6,8.1-8.1,8.1H76.5c-4.5,0-8.1-3.6-8.1-8.1V596.9    C68.4,592.4,72,588.8,76.5,588.8z"/><path d="M76.5,598.8c26.4,0,52.9,0,79.3,0c59.2,0,118.4,0,177.6,0c61.8,0,123.6,0,185.4,0c34.2,0,68.5,0,102.7,0     c0.5,0,2.1,0.3,2.5,0c-1.6,1-1.4-3.8-1.7-0.4c-0.9,10,0,20.4,0,30.4c0,27.5,0,55.1,0,82.6c0,0.9-0.3,2.6,0,3.4     c0.8,2.2,0.1-3,1.9-1.2c-0.2-0.2-1.4,0-1.6,0c-3.7-0.3-7.5,0-11.2,0c-16.6,0-33.1,0-49.7,0c-56.8,0-113.6,0-170.4,0     c-63.1,0-126.2,0-189.3,0c-39.2,0-78.4,0-117.6,0c-1.5,0-6.4-0.9-7.6,0c1.6-1.1,1.4,3.9,1.7,0.4c0.3-3.8,0-7.8,0-11.6     c0-29.2,0-58.4,0-87.6c0-4.6,0-9.2,0-13.9c0-0.9,0.3-2.6,0-3.4C77.9,596.3,78.5,598.6,76.5,598.8c5.4-0.4,10-4.3,10-10     c0-5.1-4.6-10.4-10-10c-10.6,0.9-17.8,8.2-18.1,19c-0.1,3.5,0,7.1,0,10.7c0,14.4,0,28.9,0,43.3c0,15.4,0,30.8,0,46.2     c0,8.8-1.9,21,3.7,28.5c7.3,9.7,22.5,7.3,33.2,7.3c19.1,0,38.1,0,57.2,0c27.9,0,55.7,0,83.6,0c32.4,0,64.8,0,97.2,0     c33.3,0,66.5,0,99.8,0c29.9,0,59.7,0,89.6,0c22.3,0,44.7,0,67,0c11,0,22,0.1,33,0c11.2-0.1,19.3-7.8,19.5-19.2     c0.2-10.1,0-20.3,0-30.4c0-28,0-56,0-84c0-5.6-0.8-11.2-4.9-15.5c-3.7-3.9-8.6-5.6-13.9-5.8c-3.2-0.1-6.5,0-9.7,0     c-16.3,0-32.6,0-49,0c-26.1,0-52.2,0-78.3,0c-31.6,0-63.3,0-94.9,0c-33.5,0-66.9,0-100.4,0c-31.1,0-62.1,0-93.2,0     c-24.5,0-49,0-73.5,0c-14.1,0-28.3,0-42.4,0c-1.9,0-3.7,0-5.6,0C63.6,578.8,63.6,598.8,76.5,598.8z"/>
                                            </svg>
                                            <span class="mt-2 block text-xl font-bold">Input</span>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-1/3 mb-4">
                                        <div class="bg-gradient text-white hover:shadow-lg mx-2 transition rounded-lg text-center p-4 cursor-pointer" @click="showParagraph = true">
                                            <svg viewBox="0 0 24 24" width="44" height="44" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mx-auto"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg>
                                            <span class="mt-2 block text-xl font-bold">Paragraph</span>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-1/3 mb-4">
                                        <div class="bg-gradient text-white hover:shadow-lg mx-2 transition rounded-lg text-center p-4 cursor-pointer" @click="showCheckbox = true">
                                            <svg viewBox="0 0 24 24" width="44" height="44" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mx-auto"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                                            <span class="mt-2 block text-xl font-bold">Checkbox</span>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-1/3 mb-4">
                                        <div class="bg-gradient text-white hover:shadow-lg mx-2 transition rounded-lg text-center p-4 cursor-pointer" @click="showChoice = true">
                                            <svg viewBox="0 0 24 24" width="44" height="44" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mx-auto"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                                            <span class="mt-2 block text-xl font-bold">Choice</span>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-1/3 mb-4">
                                        <div class="bg-gradient text-white hover:shadow-lg mx-2 transition rounded-lg text-center p-4 cursor-pointer" @click="showDropdown = true">
                                            <svg viewBox="0 0 24 24" width="44" height="44" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mx-auto"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                            <span class="mt-2 block text-xl font-bold">Dropdown</span>
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-1/3 mb-4">
                                        <div class="bg-gradient text-white hover:shadow-lg mx-2 transition rounded-lg text-center p-4 cursor-pointer" @click="showFileupload = true">
                                            <svg viewBox="0 0 24 24" width="44" height="44" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mx-auto"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
                                            <span class="mt-2 block text-xl font-bold">File upload</span>
                                        </div>
                                    </div>
                                </div>
                                <div v-else>
                                    <Input v-show="showInput" @input-cancel="cancelInput" @update-input="updateInput" />
                                    <Paragraph v-show="showParagraph" @paragraph-cancel="cancelParagraph" @update-paragraph="updateParagraph" />
                                    <Checkbox v-show="showCheckbox" @checkbox-cancel="cancelCheckbox" @update-checkbox="updateCheckbox" />
                                    <Choices v-show="showChoice" @choice-cancel="cancelChoices" @update-choice="updateChoices" />
                                    <Dropdown v-show="showDropdown" @dropdown-cancel="cancelDropdown" @update-dropdown="updateDropdown" />
                                    <Fileupload v-show="showFileupload" @fileupload-cancel="cancelFileupload" @update-fileupload="updateFileupload" />
                                </div>
                                <span class="m-4 block text-red-600" v-if="viewError && this.registrationPage.length == 0">Please Select at least one Type</span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/3 p-2">
                        <div class="bg-white shadow-lg rounded-lg">
                            <div class="flex justify-between items-center p-4 mb-4 border-b">
                                <p class="text-2xl font-bold">Generated Inputs</p>
                            </div>
                            <div class="w-full mb-4 p-2 lg:p-6 draggableList" v-if="registrationPage.length > 0">
                                <div class="flex flex-col lg:flex-row justify-end mb-8">
                                    <div  class="bg-mainBlue inline-block rounded shadow hover:shadow-lg transition cursor-pointer text-white flex justify-between items-center px-8 py-2 mr-0 lg:mr-4 mb-3 lg:mb-0" @click="viewRegister">
                                        <span class="mr-3">
                                            <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                            </svg>
                                        </span>
                                        <span class="font-bold">View Example</span>
                                    </div>
                                    <div class="bg-red-600 inline-block rounded shadow hover:shadow-lg transition cursor-pointer text-white flex justify-between items-center py-2 px-6" @click="resetRegister">
                                        <span class="mr-3">
                                            <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                            </svg>
                                        </span>
                                        <span class="font-bold">Reset</span>
                                    </div>
                                </div>
                                <draggable v-model="registrationPage">
                                    <div class="mb-8 relative" v-for="(arr, i) in registrationPage" :key="i">
                                        <div class="cursor-move pl-8" v-if="arr.type == 'email' || arr.type == 'text' || arr.type == 'tel' || arr.type == 'number' || arr.type == 'password'">
                                            <span class="absolute left-0 top-1">
                                                <svg height="12px" version="1.1" viewBox="0 0 18 12" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-255.000000, -426.000000)"><g id="sort" transform="translate(255.000000, 426.000000)"><path d="M0,12 L6,12 L6,10 L0,10 L0,12 L0,12 Z M0,0 L0,2 L18,2 L18,0 L0,0 L0,0 Z M0,7 L12,7 L12,5 L0,5 L0,7 L0,7 Z" id="Shape"/></g></g></g></svg>
                                            </span>
                                            <input :type="arr.type" :placeholder="arr.title" :name="arr.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full" autocomplete="off">
                                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                                            <span class="absolute right-0 top-0 text-red-600 cursor-pointer bg-white" @click="deleteItem(i)">
                                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </span>
                                        </div>
                                        <div class="cursor-move pl-8" v-if="arr.type == 'paragraph'">
                                            <span class="absolute left-0 top-1">
                                                <svg height="12px" version="1.1" viewBox="0 0 18 12" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-255.000000, -426.000000)"><g id="sort" transform="translate(255.000000, 426.000000)"><path d="M0,12 L6,12 L6,10 L0,10 L0,12 L0,12 Z M0,0 L0,2 L18,2 L18,0 L0,0 L0,0 Z M0,7 L12,7 L12,5 L0,5 L0,7 L0,7 Z" id="Shape"/></g></g></g></svg>
                                            </span>
                                            <textarea :placeholder="arr.title" :name="arr.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full h-32"></textarea>
                                            <span class="bottom-8 input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                                            <span class="absolute right-0 top-0 text-red-600 cursor-pointer bg-white" @click="deleteItem(i)">
                                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </span>
                                        </div>
                                        <div class="cursor-move pl-8" v-if="arr.type == 'file'">
                                            <span class="absolute left-0 top-1">
                                                <svg height="12px" version="1.1" viewBox="0 0 18 12" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-255.000000, -426.000000)"><g id="sort" transform="translate(255.000000, 426.000000)"><path d="M0,12 L6,12 L6,10 L0,10 L0,12 L0,12 Z M0,0 L0,2 L18,2 L18,0 L0,0 L0,0 Z M0,7 L12,7 L12,5 L0,5 L0,7 L0,7 Z" id="Shape"/></g></g></g></svg>
                                            </span>
                                            <label class="w-full flex items-center px-4 py-2 bg-white text-mainBlue rounded-lg shadow-lg tracking-wide uppercase border border-mainBlue cursor-pointer transition hover:bg-mainBlue hover:text-white">
                                                <svg class="w-6 h-6 inline-block mr-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                    <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                                </svg>
                                                <span class="text-base leading-normal">Select a file</span>
                                                <input :type="arr.type" :placeholder="arr.title" :name="arr.title" class="hidden" @change="onFileChanged">
                                            </label>
                                            <span class="bottom-8 input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                                            <span class="absolute right-1 top-1 text-red-600 cursor-pointer" @click="deleteItem(i)">
                                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </span>
                                        </div>
                                        <div class="cursor-move pl-8" v-if="arr.type == 'select'">
                                            <span class="absolute left-0 top-1">
                                                <svg height="12px" version="1.1" viewBox="0 0 18 12" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-255.000000, -426.000000)"><g id="sort" transform="translate(255.000000, 426.000000)"><path d="M0,12 L6,12 L6,10 L0,10 L0,12 L0,12 Z M0,0 L0,2 L18,2 L18,0 L0,0 L0,0 Z M0,7 L12,7 L12,5 L0,5 L0,7 L0,7 Z" id="Shape"/></g></g></g></svg>
                                            </span>
                                            <select :name="arr.info.qst" class="focus:outline-none py-1 border-b border-gray-400 text-gray-400 w-full bg-white rounded-none">
                                                <option value="0">{{arr.info.qst}}</option>
                                                <option v-for="choice in arr.info.choices" :key="choice.id">
                                                    {{choice.title}}
                                                </option>
                                            </select>
                                            <span class="absolute right-0 top-0 text-red-600 cursor-pointer bg-white" @click="deleteItem(i)">
                                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </span>
                                        </div>
                                        <div class="cursor-move pl-8" v-if="arr.type == 'radio'">
                                            <span class="absolute left-0 top-1">
                                                <svg height="12px" version="1.1" viewBox="0 0 18 12" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-255.000000, -426.000000)"><g id="sort" transform="translate(255.000000, 426.000000)"><path d="M0,12 L6,12 L6,10 L0,10 L0,12 L0,12 Z M0,0 L0,2 L18,2 L18,0 L0,0 L0,0 Z M0,7 L12,7 L12,5 L0,5 L0,7 L0,7 Z" id="Shape"/></g></g></g></svg>
                                            </span>
                                            <h2 class="text-gray-400 text-xl text-left">{{arr.info.qst}}</h2>
                                            <div class="my-2 radio text-left" v-for="choice in arr.info.choices" :key="choice.id">
                                                <input class="absolute opacity-0" :id="'radio'+choice.id" :name="arr.info.qst" :value="choice.title" :type="arr.type">
                                                <label :for="'radio'+choice.id" class="radio-label">{{choice.title}}</label>
                                            </div>
                                            <span class="absolute right-0 top-0 text-red-600 cursor-pointer bg-white" @click="deleteItem(i)">
                                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </span>
                                        </div>
                                        <div class="cursor-move pl-8" v-if="arr.type == 'checkbox'">
                                            <span class="absolute left-0 top-1">
                                                <svg height="12px" version="1.1" viewBox="0 0 18 12" width="18px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><desc/><defs/><g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1"><g fill="#000000" id="Core" transform="translate(-255.000000, -426.000000)"><g id="sort" transform="translate(255.000000, 426.000000)"><path d="M0,12 L6,12 L6,10 L0,10 L0,12 L0,12 Z M0,0 L0,2 L18,2 L18,0 L0,0 L0,0 Z M0,7 L12,7 L12,5 L0,5 L0,7 L0,7 Z" id="Shape"/></g></g></g></svg>
                                            </span>
                                            <h2 class="text-gray-400 text-xl text-left">{{arr.info.qst}}</h2>
                                            <div class="my-2 checkbox text-left" v-for="choice in arr.info.choices" :key="choice.id">
                                                <input class="absolute opacity-0" :id="'checkbox'+choice.id" :name="arr.info.qst" :value="choice.title" :type="arr.type">
                                                <label :for="'checkbox'+choice.id" class="checkbox-label">{{choice.title}}</label>
                                            </div>
                                            <span class="absolute right-0 top-0 text-red-600 cursor-pointer bg-white" @click="deleteItem(i)">
                                                <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-blok"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                            </span>
                                        </div>
                                    </div>
                                </draggable>
                            </div>
                            <div class="w-full mb-4 p-2 lg:p-6" v-else>
                                <span class="m-4 block text-red-600">Please Select at least one Type</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div v-else>
                    <div class="bg-white shadow-lg mx-2 rounded-lg mb-12">
                        <div class="flex justify-between mb-4 border-b p-4">
                            <h2 class="text-2xl font-bold">Event general information</h2>
                            <div class="flex items-center cursor-pointer" @click="editEvent = !editEvent">
                                <svg v-if="editEvent" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="15" y1="9" x2="9" y2="15"></line>
                                    <line x1="9" y1="9" x2="15" y2="15"></line>
                                </svg>
                                <svg v-else viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="flex flex-col lg:flex-row p-4">
                            <div class="w-full lg:w1/3 mb-4">
                                <h2 class="text-xl">Event Name</h2>
                                <span class="block mt-4 mr-8" v-if="editEvent">
                                    <input type="text" placeholder="Event title" :value="$route.params.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
                                </span>
                                <span v-else class="text-mainBlue block mt-4">{{$route.params.title}}</span>
                            </div>
                            <div class="w-full lg:w1/3 mb-4">
                                <h2 class="text-xl">Event Admin</h2>
                                <span class="block mr-8 mt-4" v-if="editEvent">
                                    <vSelect placeholder="Search for an Admin" :options="admins" />
                                </span>
                                <span v-else class="text-mainBlue block mt-4">Lex Paulson</span>
                            </div>
                            <div class="w-full lg:w1/3 mb-4">
                                <h2 class="text-xl">Manage Users</h2>
                                <span class="block mt-4" v-if="editEvent">
                                    <label for="can" class="mr-4">
                                        <input id="can" type="radio" name="manage" class="mr-2"> Can
                                    </label>
                                    <label for="cant">
                                        <input id="cant" type="radio" name="manage" class="mr-2" checked> Can't
                                    </label>
                                </span>
                                <span v-else class="text-mainBlue block mt-4">Admin Can't Manage Users</span>
                            </div>
                        </div>
                        <div class="flex flex-col lg:flex-row p-4">
                            <div class="w-full lg:w1/3 mb-4">
                                <h2 class="text-xl">Sessions</h2>
                                <span class="text-mainBlue block mt-4">1</span>
                            </div>
                            <div class="w-full lg:w1/3 mb-4">
                                <h2 class="text-xl">Start date</h2>
                                <span class="block mt-4 mr-8" v-if="editEvent">
                                    <datepicker placeholder="Select Date" class="py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full" ></datepicker>
                                </span>
                                <span v-else class="text-mainBlue block mt-4">18 Jan 2020</span>
                            </div>
                            <div class="w-full lg:w1/3 mb-4">
                                <h2 class="text-xl">End date</h2>
                                <span class="block mt-4 mr-8" v-if="editEvent">
                                    <datepicker placeholder="Select Date" class="py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full" ></datepicker>
                                </span>
                                <span v-else class="text-mainBlue block mt-4">unknown</span>
                            </div>
                        </div>
                        <button class="m-4 bg-mainBlue text-white py-1 px-8 rounded focus:outline-none hover:bg-secondBlue transition" v-if="editEvent">
                            Save
                        </button>
                    </div>
                    <h2 class="text-2xl p-4 font-bold my-4">Event Sessions</h2>
                    <div class="flex flex-col lg:flex-row">
                        <div class="w-full lg:w-1/3">
                            <div class="bg-white p-2">
                                <router-link :to="{ name: 'EventSession', params: { title: $route.params.title, id: $route.params.id, session: '1' } }" class="block p-6 shadow hover:shadow-xl text-center rounded transition cursor-pointer bg-gradient text-white">
                                    <h3 class="text-2xl" v-text="$route.params.title"></h3>
                                    <p>Session 1</p>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Registration Import
import Input from '../components/registration/Input'
import Paragraph from '../components/registration/Paragraph'
import Checkbox from '../components/registration/Checkbox'
import Fileupload from '../components/registration/Fileupload'
import Dropdown from '../components/registration/Dropdown'
import Choices from '../components/registration/Choices'
// Helpers
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker'
import draggable from 'vuedraggable'

export default {
    name: "EventSettings",
    data() {
        return {
            event: [],
            editEvent: false,
            createNewSession: false,
            generateRegistration: false,
            showInput: false,
            showParagraph: false,
            showCheckbox: false,
            showChoice: false,
            showDropdown: false,
            showFileupload: false,
            registrationPage: [],
            viewError: false,
            admins: ["Lex Paulsen", "Bisan Abdulkader", "Brent Strickland"],
            filename: '',
        }
    },
    components: {
        Dropdown,
        Input,
        Paragraph,
        Checkbox,
        Fileupload,
        Choices,
        Datepicker,
        vSelect,
        draggable
    },
    methods: {
        deleteEvent(id) {
            this.$swal({
                title: 'Are you sure ?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#e53e3e',
                cancelButtonColor: '#17C671',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.$swal({
                        // position: 'top-end',
                        icon: 'success',
                        title: 'Your Event has been Deleted',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            })
        },
        deleteItem(i) {
            let arrLen = this.registrationPage.length
            while(arrLen--)
                if(arrLen == i)
                    this.registrationPage.splice(i, 1)
        },
        resetRegister() {
            this.$swal({
                title: 'Are you sure ?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#e53e3e',
                cancelButtonColor: '#17C671',
                confirmButtonText: 'Yes, Reset it!'
            }).then((result) => {
                if (result.value) {
                    this.registrationPage = []
                    this.$swal({
                        // position: 'top-end',
                        icon: 'success',
                        title: 'Your Page has been Reseted',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            })
        },
        viewRegister() {
            if (this.registrationPage.length > 0) {
                // this.$router.push({name: 'Registration'})
                let routeData = this.$router.resolve({name: 'Registration'});
                window.open(routeData.href, '_blank');
            }
            else
                this.viewError = true
        },
        updateInput(e) {
            this.registrationPage.push(e)
            this.showInput = false
        },
        cancelInput(e) {
            this.showInput = e
        },
        updateParagraph(e) {
            this.registrationPage.push({'title': e, 'type': 'paragraph'})
            // this.registrationPage[e] = ''
            // this.registrationPage['type'] = 'paragraph'
            this.showParagraph = false
        },
        cancelParagraph(e) {
            this.showParagraph = e
        },
        updateCheckbox(e) {
            this.registrationPage.push({'info': e, 'type': 'checkbox'})
            // this.registrationPage[e] = ''
            // this.registrationPage['type'] = 'paragraph'
            this.showCheckbox = false
        },
        cancelCheckbox(e) {
            this.showCheckbox = e
        },
        updateChoices(e) {
            this.registrationPage.push({'info': e, 'type': 'radio'})
            // this.registrationPage[e] = ''
            // this.registrationPage['type'] = 'paragraph'
            this.showChoice = false
        },
        cancelChoices(e) {
            this.showChoice = e
        },
        updateDropdown(e) {
            this.registrationPage.push({'info': e, 'type': 'select'})
            // this.registrationPage[e] = ''
            // this.registrationPage['type'] = 'paragraph'
            this.showDropdown = false
        },
        cancelDropdown(e) {
            this.showDropdown = e
        },
        updateFileupload(e) {
            this.registrationPage.push({'info': e, 'type': 'file'})
            // this.registrationPage[e] = ''
            // this.registrationPage['type'] = 'paragraph'
            this.showFileupload = false
        },
        cancelFileupload(e) {
            this.showFileupload = e
        },
        onFileChanged (e) {
            this.filename = e.target.files[0].name
        },
    },
}
</script>

<style scoped>
    .draggableList .sortable-drag {
        opacity: .5
    }
</style>