<template>
    <div class="event">
        <!-- Event Modal-->
        <div class="fixed w-full h-full top-0 left-0 flex items-start justify-center z-10" :class="(createNewEvent == true) ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
            <div class="absolute w-full h-full bg-gray-900 opacity-75"></div>
            <div class="bg-white w-11/12 md:w-1/2 mx-auto rounded shadow-lg mt-4 z-50 overflow-y-auto">
                <div class="modal-content text-left">
                    <div class="flex justify-between items-center p-4 mb-4 border-b">
                        <p class="text-2xl font-bold">Create New Event</p>
                        <div @click="createNewEvent = false" class="cursor-pointer z-50">
                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg>
                        </div>
                    </div>
                    <form @submit.prevent="createEvent" class="w-full lg:w-2/3 mx-auto mb-4 p-8">
                        <div class="mb-8 relative">
                            <input type="text" placeholder="Event title" v-model="newevent.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showEventTitleError">Please insert an Event Title</span>
                        </div>
                        <div class="mb-8 relative">
                            <vSelect placeholder="Event Admin" label="name" v-model="newevent.admin" :options="admins" />
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showEventAdminError">Please Select Event Admin</span>
                        </div>
                        <div class="mb-8 relative">
                            <vSelect placeholder="Event Type" label="title" v-model="newevent.eventType" :options="eventTypes" />
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showEventTypeError">Please Select Event Type</span>
                        </div>
                        <div class="mb-8 relative">
                            <datepicker placeholder="Select Date" class="py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full" v-model="newevent.startDate"></datepicker>
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showEventDateError">Please insert a valid Date</span>
                        </div>
                        <div class="relative">
                            <button class="btn-submit bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="bg-gray-100 border-r border-l border-gray-200 w-full min-h-screen">
            <div class="py-8 px-4 lg:px-12">
                <div class="p-4 bg-white shadow-lg rounded-lg mb-12 block lg:flex justify-between">
                    <h2 class="text-mainBlue text-2xl">Events</h2>
                    <div class="relative">
                        <input class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-auto lg:w-128" type="text" v-model="search" placeholder="Search For Event"/>
                        <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-end mb-12">
                    <div class="w-full lg:w-1/3">
                        <div class="relative overflow-hidden text-center bg-white block p-8 rounded hover:shadow-lg transition cursor-pointer mb-8" @click="createNewEvent = true">
                            <span class="relative lg:absolute top-0 left-0 text-gray-600" style="top: -5px;" >
                                <svg viewBox="0 0 24 24" width="6rem" height="6rem" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </span>
                            <span class="font-bold text-gray-600">Create Event</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap flex-col lg:flex-row">
                    <div class="w-full lg:w-1/3 p-2" v-for="(eve, index) in filteredList" :key="index">
                        <router-link :to="{ name: 'EventSettings', params: { title: eve.title, id: index } }" class="block p-6 shadow hover:shadow-xl text-center rounded transition cursor-pointer" :class="(eve.isCurrent) ? 'bg-gradient text-white' : 'bg-white text-gray-600' ">
                            <h3 class="text-2xl" v-text="eve.title"></h3>
                            <p v-text="eve.admin"></p>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import vSelect from 'vue-select'

export default {
    name: "Events",
    data() {
        return {
            createNewEvent: false,
            newevent: {
                title: "",
                eventType: "",
                admin: [],
                startDate: new Date()
            },
            admins: [
                {
                    name: this.$store.state.name,
                    email: this.$store.state.email,
                }
            ],
            eventTypes: ["Collenet", "Colleterm", "Both"],
            showEventTitleError: false,
            showEventDateError: false,
            showEventAdminError: false,
            showEventTypeError: false,
            events: [
                {title: "Winter School", isCurrent: true, admin: "Lex Paulsen"},
                {title: "SCI Masterclass", isCurrent: false, admin: "Bisan Abdulkader"},
                {title: "SCI Workgroup", isCurrent: false, admin: "Brent Strickland"},
            ],
            search: ''
        }
    },
    components: {
        Datepicker,
        vSelect
    },
    methods: {
        createEvent() {
            if (this.eventEmpty()) {
                
                this.$store.dispatch('createEvent', {event: this.newevent, userid: this.$store.state.id, token: this.$store.state.token})
                .then(() => {
                    this.$swal({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your Event has been Created',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                            this.$router.go()
                    })
                }).catch(err => {
                    this.$swal({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                })
            }

        },
        eventEmpty() {
            if (!this.newevent.title) {
                this.showEventTitleError = true
                this.showEventDateError = false
                this.showEventAdminError = false
                this.showEventTypeError = false
                return false
            }
            if (this.newevent.admin.length <= 0) {
                this.showEventTitleError = false
                this.showEventDateError = false
                this.showEventAdminError = true
                this.showEventTypeError = false
                return false
            }
            if (!this.newevent.eventType) {
                this.showEventTitleError = false
                this.showEventDateError = false
                this.showEventAdminError = false
                this.showEventTypeError = true
                return false
            }
            if (!this.newevent.startDate) {
                this.showEventTitleError = false
                this.showEventDateError = true
                this.showEventAdminError = false
                this.showEventTypeError = false
                return false
            }
            return true
        }
    },
    computed: {
        filteredList() {
            return this.events.filter(event => {
                return event.title.toLowerCase().includes(this.search.toLowerCase())
            })
        }
    }
}
</script>