<template>
    <div class="login bg-white lg:bg-mainBlue h-full lg:h-screen">
        <vue-particles class="hidden lg:block h-screen" color="#fff"></vue-particles>
        <div class="h-screen relative lg:absolute w-full top-0">
            <div class="relative lg:top-0 lg:right-0 p-12 lg:p-2 w-full lg:w-1/2 mx-auto h-screen flex flex-col justify-center">
                <div class="bg-white py-12 text-center rounded">
                    <img class="mx-auto w-24 h-24" alt="Logo" src="../assets/logo.svg">
                    <h1 class="text-4xl font-bold text-mainBlue mb-4 lg:mb-12 uppercase">Collemap</h1>
                    <form @keypress.enter="submitForm" @submit.prevent="submitForm" class="w-full lg:w-2/4 mx-auto">
                        <div class="mb-8 relative">
                            <input type="text" v-model="email" placeholder="Email" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full">
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showusererror">Your Email is Invalid</span>
                        </div>
                        <div class="mb-8 relative">
                            <input type="password" v-model="password" placeholder="Password" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full">
                            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hove:w-full transition"></span>
                            <span class="my-2 block text-left text-red-600" v-if="showatuherror">Your Password is Invalid</span>
                        </div>
                        <div class="relative mb-8" v-if="showInvalidRequest">
                            <div class="flex items-center bg-red-500 text-white text-sm rounded px-4 py-3" role="alert">
                                <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4 mr-2">
                                    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                                    <line x1="12" y1="9" x2="12" y2="13"></line>
                                    <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                </svg>
                                <p>{{showInvalidRequest}}</p>
                            </div>
                        </div>
                        <div class="relative">
                            <button type="submit" value="submit" class="btn-submit bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            email: "",
            password: "",
            showusererror: "",
            showatuherror: "",
            showInvalidRequest: false
        }
    },
    methods: {
        submitForm() {
            if (this.emptyInput()){
                this.$store.dispatch('login', {email: this.email.toLowerCase(), password: this.password})
                .then((resp) => {
                    this.$router.push('/dashboard')
                })
                .catch(error => {
                    if(error.response.data.message)
                    {
                        this.showusererror = false
                        this.showatuherror = false
                        this.showInvalidRequest = "Your Email or password are incorrect"
                    }
                    else if( error.response.data.err == "Invalid email") {
                        this.showusererror = true
                        this.showatuherror = false
                        this.showInvalidRequest = false
                    }
                    else {
                        this.showatuherror = true
                        this.showusererror = false
                        this.showInvalidRequest = false
                    }
                })
            }
        },
        emptyInput() {
            if(!this.email) {
                this.showusererror = true
                this.showatuherror = false
                this.showInvalidRequest = false
                return false
            }
            else if (!this.password) {
                this.showusererror = false
                this.showatuherror = true
                this.showInvalidRequest = false
                return false
            }
            else 
                return true
        }
    },
    created() {
        let isadmin = localStorage.getItem('superadmin')
        if(isadmin == "true")
        {
            this.$router.push('/dashboard')
            this.$store.dispatch('changeState', {active: 0})
        }
    },
}
</script>

<style>
    input:focus + .input-border {
        width: 100%;
    }
</style>