<template>
    <div class="login bg-white lg:bg-mainBlue h-full lg:h-screen">
        <vue-particles class="hidden lg:block h-screen" color="#fff"></vue-particles>
        <div class="h-screen relative lg:absolute w-full top-0">
            <div class="relative lg:top-0 lg:right-0 p-12 lg:p-2 w-full lg:w-1/3 mx-auto h-screen flex flex-col justify-center">
                <div class="bg-white py-12 text-center">
                    <img class="mx-auto w-24 h-24" alt="Logo" src="../assets/logo.svg">
                    <h1 class="text-4xl font-bold text-mainBlue mb-4 lg:mb-12 uppercase">Collemap</h1>
                    <h2 class="text-8xl text-mainBlue">404</h2>
                    <p class="text-4xl text-secondBlue mb-6">Page Not Found</p>
                    <router-link class="bg-mainBlue text-white py-2 px-8 rounded inline-block" to="/">Home</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "NotFound"
}
</script>