<template>
    <div class="registration bg-white lg:bg-mainBlue h-full lg:h-screen">
        <vue-particles class="hidden lg:block h-screen" color="#fff"></vue-particles>
        <div class="h-screen relative lg:absolute w-full top-0">
            <div class="relative lg:top-0 lg:right-0 p-12 lg:p-2 w-full lg:w-1/2 mx-auto h-screen flex flex-col justify-center">
                <div class="bg-white">
                    <div class="flex justify-end m-2">
                        <router-link class="bg-mainBlue text-white px-4 py-2 rounded" to="/events">Back to Dashboard</router-link>
                    </div>
                    <div class="py-12 text-center">
                        <img class="mx-auto w-24 h-24" alt="Logo" src="../assets/logo.svg">
                        <h1 class="text-4xl font-bold text-mainBlue mb-4 lg:mb-12 uppercase">Collemap</h1>
                        <form @keypress.enter="sendForm" @submit.prevent="sendForm" class="w-full lg:w-2/4 mx-auto">
                            <div class="mb-8 relative" v-for="(arr, i) in newArray" :key="i">
                                <div v-if="arr.type == 'email' || arr.type == 'text' || arr.type == 'tel' || arr.type == 'number' || arr.type == 'password'">
                                    <input :type="arr.type" :placeholder="arr.title" :name="arr.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full">
                                    <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                                </div>
                                <div v-if="arr.type == 'paragraph'">
                                    <textarea :placeholder="arr.title" :name="arr.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full h-32"></textarea>
                                    <span class="bottom-8 input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                                </div>
                                <div v-if="arr.type == 'file'">
                                    <input :type="arr.type" :placeholder="arr.title" :name="arr.title" @change="onFileChanged" class="focus:outline-none py-1 border-b border-gray-400 placeholder-grey-400 focus:placeholder-mainBlue w-full" accept="image/*">
                                    <span class="bottom-8 input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
                                </div>
                                <div v-if="arr.type == 'select'">
                                    <select :name="arr.info.qst" class="focus:outline-none py-1 border-b border-gray-400 text-gray-400 w-full bg-white rounded-none">
                                        <option value="0">{{arr.info.qst}}</option>
                                        <option v-for="choice in arr.info.choices" :key="choice.id">
                                            {{choice.title}}
                                        </option>
                                    </select>
                                </div>
                                <div v-if="arr.type == 'radio'">
                                    <h2 class="text-gray-400 text-xl text-left">{{arr.info.qst}}</h2>
                                    <div class="my-2 radio text-left" v-for="choice in arr.info.choices" :key="choice.id">
                                        <input class="absolute opacity-0" :id="'radio'+choice.id" :name="arr.info.qst" :value="choice.title" :type="arr.type">
                                        <label :for="'radio'+choice.id" class="radio-label">{{choice.title}}</label>
                                    </div>
                                </div>
                                <div v-if="arr.type == 'checkbox'">
                                    <h2 class="text-gray-400 text-xl text-left">{{arr.info.qst}}</h2>
                                    <div class="my-2 checkbox text-left" v-for="choice in arr.info.choices" :key="choice.id">
                                        <input class="absolute opacity-0" :id="'checkbox'+choice.id" :name="arr.info.qst" :value="choice.title" :type="arr.type">
                                        <label :for="'checkbox'+choice.id" class="checkbox-label">{{choice.title}}</label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div v-if="imageUp">
                                <img class="userimg mx-auto mb-4 rounded-full w-32 h-32" :src="imageUp" alt="UpImage">
                            </div> -->
                            <div class="relative">
                                <button type="submit" value="submit" class="btn-submit bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Registration",
    data() {
        return {
            newArray: [
                { "title": "name", "type": "text" },
                { "title": "email", "type": "email" },
                { "title": "password", "type": "password" },
                // { "title": "age", "type": "number" },
                // { "title": "tel", "type": "tel" },
                // { "title": "message", "type": "paragraph" },
                // { "info": { "title": "image", "auth": [ "png", "jpg", "gif" ], "filelimit": "5" }, "type": "file" },
                { "info":{"qst":"How are you ?","choices":[{"id":1,"title":"Red"},{"id":2,"title":"rose"}]}, "type":"radio"},
                // { "info": { "qst": "Choose your Country", "choices": [ { "id": 1, "title": "Morocco" }, { "id": 2, "title": "USA" }, { "id": 3, "title": "Canada" } ] }, "type": "select"},
                { "info": { "qst": "How are we ?", "choices": [ { "id": 1, "title": "good" }, { "id": 2, "title": "great" } ] }, "type": "checkbox" },
            ],
            imageUp: null,
            image: null,
            infos: []
        }
    },
    methods: {
        sendForm(e) {
            let formData = e.target.elements
            let checkedArray = []
            for (let index = 0; index < formData.length; index++) {
                let element = formData[index]
                if (element.type == 'select-one') {
                    if (element.value == '0') {
                        this.infos = []
                        return
                    }
                    else
                        this.infos.push({[element.name] : element.value})
                }
                else if (element.type == 'radio') {
                    if (element.checked)
                        this.infos.push({[element.name] : element.value})
                }
                else if (element.type == 'checkbox') {
                    if (element.checked)
                        checkedArray.push(element.value)
                }
                // if (element.type == 'file')
                //     infos.push(this.image)
                else if (element.value != 'submit')
                    this.infos.push({[element.name] : element.value})
            }
            for (let index = 0; index < formData.length; index++) {
                let element = formData[index];
                if (element.type == 'checkbox') {
                    this.infos.push({[element.name] : checkedArray})
                    break
                }
            }
            // for (let index = 0; index < formData.length; index++) {
            //     let element = formData[index]
            //     if (element.value != 'submit')
            //         infoss[element.name] = element.value
            //     if (element.type == 'file')
            //         infoss['picture'] = this.image
            // }
            console.log(this.infos)
        },
        onFileChanged (e) {
            let imgUploaded = e.target.files[0]
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
                this.imageUp = fileReader.result
            })
            fileReader.readAsDataURL(imgUploaded)
            const formData = new FormData();
            formData.append("picture", imgUploaded);
            this.image = formData
        },
    },
}
</script>

<style>
    input:focus + .input-border, textarea:focus + .input-border {
        width: 100%;
    }
    .bottom-8 {
        bottom: 8px;
    }
</style>