<template>
    <div class="users">
        <div class="bg-gray-100 border-r border-l border-gray-200 w-full h-screen">
            <div class="bg-gray-100 border-r border-l border-gray-200 w-full h-screen">
                <div class="py-8 px-12">
                    <div class="p-4 bg-white shadow-lg rounded-lg mb-12">
                        <h2 class="text-mainBlue text-2xl">Users</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Users",
    data() {
        return {
            
        }
    },
}
</script>