<template>
    <div class="py-4 px-2 mb-4 border">
        <div v-if="Password">
            <h3 class="">generated Password</h3>
            <p class="bg-gray-300 p-2">{{ Password }}</p>
            <button class="bg-secondBlue text-xl text-white px-4 py-2 w-full mt-4" @click="Password = ''">Generate another password</button>
        </div>
        <form v-else v-on:submit.prevent="generatePassword">
            <h2 class="text-xl text-mainBlue mb-2">Generate a Password</h2>
            <label class="block mb-4" for="passwordlength">
                Password Length:
                <input class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full" type="number" v-model="PasswordLength">
            </label>
            <label class="block mb-4" for="lowercase">
                Include lowercase? (a-z)
                <input type="checkbox" v-model="isLowercase">
            </label>
            <label class="block mb-4" for="captials">
                Include capitals? (A-Z)
                <input type="checkbox" v-model="isCapitals">
            </label>
            <label class="block mb-4" for="numbers">
                Include numbers? (0-9)
                <input type="checkbox" v-model="isNumbers">
            </label>
            <label class="block mb-4" for="special"> 
                Include special characters? (!?*; etc..)
                <input type="checkbox" v-model="isSpecials">
            </label>
            <button class="bg-secondBlue w-full text-xl text-white px-4 py-2" type="submit">Generate Password</button>
        </form>
    </div>
</template>

<script>

//Character Sets
const Lowercase = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','y','u','v','w','x','y','z']
const Uppercase = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
const Numbers = [0,1,2,3,4,5,6,7,8,9]
const Specials = ['!','?','/','#','$','%','&','<','=','>']
const Characters = [ ]

export default {
    name: "PasswordGenerator",
    data() {
        return {

            // Dataset true / false
            isLowercase: false,
            isCapitals: false,
            isNumbers: true,
            isSpecials: false,

            // Password Management
            PasswordLength: '4',

        }
    },
    props: ['pass'],
    methods: {

        pushArrays() {

            if(this.isLowercase === false && this.isCapitals === false && this.isNumbers === false && this.isSpecials === false) {

                alert('Please ensure at least one checkbox is checked!')

            } else {

                Characters.length = 0
                
            }

            this.isLowercase === true ? Characters.push(Lowercase) : ''
            this.isCapitals === true ? Characters.push(Uppercase) : ''
            this.isNumbers === true ? Characters.push(Numbers) : ''
            this.isSpecials === true ? Characters.push(Specials) : ''

        },

        generatePassword() {
            
            this.pushArrays()

            const PasswordArray = []

            let i;

            for (i = 0; i < this.PasswordLength; i++) {

                let randomArray = Math.floor(Math.random() * Characters.length)
                let randomValue = Math.floor(Math.random() * Characters[randomArray].length)
                let randomCharacter = Characters[randomArray][randomValue]

                PasswordArray.push(randomCharacter)

            }

            this.Password = PasswordArray.join('')

        }

    },
    computed: {
        Password: {
            get: function(){
                return this.pass;
            },
            set: function(newValue){
                this.$emit('update:pass', newValue)
            }   
        },
    }

}

</script>