<template>
    <div class="bg-white h-full">
        <div class="flex py-3 bg-gray-100">
            <img class="w-8 h-8 mx-auto" alt="Logo" src="../assets/logo.svg">
        </div>
         <!-- Profile Modal-->
        <div class="fixed w-full h-full top-0 left-0 flex items-center justify-center z-10" :class="(showModal == true) ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
            <div class="absolute w-full h-full bg-gray-900 opacity-75"></div>
            <div class="bg-white w-11/12 md:w-1/3 mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content py-4 text-left px-6">
                    <div class="flex justify-between items-center pb-3">
                        <p class="text-2xl font-bold">Edit photo</p>
                        <div @click="showModal = false" class="cursor-pointer z-50">
                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                            </svg>
                        </div>
                    </div>
                    <div v-if="imageUp">
                        <img class="w-40 h-40 mx-auto mb-4 rounded-full" :src="imageUp" alt="UpImage">
                    </div>
                    <div v-else>
                        <label class="cursor-pointer w-full bg-gray-200 h-32 flex justify-center items-center" for="imginput">Uplaod your photo</label>
                        <input class="hidden" type="file" id="imginput" @change="onFileChanged" accept="image/*">
                    </div>
                    <div class="flex justify-end pt-2 border-t border-gray-200">
                        <div v-if="imageUp"><button class="px-4 py-2 bg-transparent hover:text-white hover:bg-mainBlue border border-mainBlue mr-2 transition" @click="imageUp = ''">Change photo</button></div>
                        <button @click="SendImg" class="px-4 py-2 bg-mainBlue text-white hover:bg-secondBlue">Save Photo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-8 border-b border-gray-200">
            <div class="relative w-32 h-32 mb-4 mx-auto">
                <img class="w-full h-full border-4 border-gray-200 rounded-full" :src="baseURL+'/user/'+showUser.id+'/picture'+'?token='+showUser.token" alt="user">
                <button @click="showModal = true" class="editimg absolute bottom-0 right-0 rounded-full w-10 h-10 focus:outline-none text-white bg-mainBlue cursor-pointer">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                </button>
            </div>
            <h2 class="text-2xl font-black capitalize">{{ showUser.name }}</h2>
            <p class="text-gray-500">Technical Admin</p>
        </div>
        <ul class="flex flex-col">
            <li v-for="(item, index) in navbar" :key="index">
                <div @click="setActive(item.route, index)" class="cursor-pointer py-4 pl-4 text-xl" :class="($route.name == item.title) ? 'bg-gradient text-white' : ''">
                    <span class="mr-6" v-html="item.svg"></span>
                    <span>{{item.title}}</span>
                </div>
            </li>
        </ul>
        <div class="w-full absolute bottom-1">
            <button class="px-6 flex justify-between w-full focus:outline-none" @click="logout()">
                <span class="font-bold">Logout</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            </button>
        </div>
    </div>
</template>

<script>
import env from '../env.js'
export default {
    name: "Sidenav",
    data() {
        return {
            baseURL: env.baseURL,
            showModal: false,
            imageUp: '',
            image: null,
            navbar: [
                {title: "Dashboard", route: "/dashboard", svg: '<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>'},
                {title: "Admins", route: "/admins", svg: '<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>'},
                {title: "Events", route: "/events", svg: '<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>'},
                {title: "Users", route: "/users", svg: '<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>'},
                {title: "Visualizations", route: "/visualizations", svg: '<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line></svg>'},
            ]
        }
    },
    methods: {
        setActive(route, index) {
            this.$router.push(route)
        },
        onFileChanged(e) {
            let imgUploaded = e.target.files[0]
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
                this.imageUp = fileReader.result
            })
            fileReader.readAsDataURL(imgUploaded)
            const formData = new FormData();
            formData.append("picture", imgUploaded);
            this.image = formData
        },
        SendImg() {
            this.$store.dispatch('updateImg', {picture: this.image, userid: this.$store.state.id, token: this.$store.state.token})
            .then(() => {
                this.$router.go()
            })
            .catch(err => {
                console.log(err)
            })
        },
        logout() {
            this.$store.dispatch('logout').then(() => this.$router.push('/'))
        },
    },
    computed: {
        showUser () {
            return this.$store.state            
        }
    },
}
</script>

<style scoped>
.bottom-1 {
    bottom: 20px
}
</style>