<template>
    <div class="welcome">
        <div class="bg-gradient text-center shadow-lg block w-full transition relative rounded-lg">
            <div class="p-8">
                <img src="../assets/decore-left.png" alt="Decore Left" width="200" class="absolute left-0 top-0">
                <img src="../assets/decore-right.png" alt="Decore Right" width="175" class="absolute right-0 top-0">
                <span class="p-6 mb-8 bg-mainBlue inline-flex rounded-full text-white shadow feather-icon select-none relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award h-8 w-8"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                </span>
                <h1 class="mb-6 text-white text-2xl font-bold capitalize">Welcome {{name}},</h1>
                <p class="xl:w-3/4 lg:w-4/5 md:w-2/3 w-4/5 mx-auto text-white">{{msg}}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['name', 'msg']
}
</script>