@tailwind base;

@tailwind components;

@tailwind utilities;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

body {
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}
.transition {
	transition: all .4s ease-in-out;
}
img {
	object-fit: cover;
}
.bg-gradient {
    background: linear-gradient(118deg, rgba(0, 35, 180, 1), rgba(0, 89, 226, .7));
}
.vdp-datepicker input[type="text"], .vdp-datepicker div {
	width: 100%;
}
.vdp-datepicker input[type="text"]:focus {
	outline: none !important;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}
th {
	text-align: inherit;
}
.table td, .table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}
.vdp-datepicker__calendar .cell.selected {
    background: rgba(0, 35, 180, 1) !important;
    color: #fff;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border-color: rgba(0, 35, 180, 1) !important;
}
.vs--searchable .vs__dropdown-toggle {
	border: 0;
	border-bottom: 1px solid #cbd5e0;
}

.vs--searchable .vs__dropdown-toggle input::placeholder {
	color: #a0aec0;
}

.radio input[type="radio"] + .radio-label:before {
	content: "";
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	margin-right: 1rem;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
	background-color: #0023b4;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
	outline: none;
	border-color: #0023b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
	margin-right: 0;
}

.checkbox input[type="checkbox"] + .checkbox-label:before {
	content: "";
	background: #f4f4f4;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	margin-right: 1rem;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.checkbox input[type="checkbox"]:checked + .checkbox-label:before {
	background-color: #0023b4;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.checkbox input[type="checkbox"]:focus + .checkbox-label:before {
	outline: none;
	border-color: #0023b4;
}

.checkbox input[type="checkbox"] + .checkbox-label:empty:before {
	margin-right: 0;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all 4s cubic-bezier(2.0, 1.5, 1.8, 2.0);
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(20px);
	opacity: 0;
	overflow-y: hidden;
}
.fullsidenav {
	width: 250px
}
#ml-250 {
	margin-left: 250px
}
.minisidebar {
	margin-left: -250px
}
.top-1 {
	top: 10px;
}
.right-1 {
	right: 10px;
}