<template>
  <div id="app" class="flex flex-col lg:flex-row">
    <div class="fixed top-0 h-full z-50 sidenav" v-if="showSides">
      <div class="fixed top-0 h-full z-50 transition relative" :class="(fullsidebar) ? 'fullsidenav' : 'minisidebar'" >
        <Sidenav />
      </div>
    </div>
    <div class="w-full transition" :id="(fullsidebar) ? 'ml-250' : 'ml-0'">
      <span v-if="showSides" class="block top-0 p-4 bg-white pl-12 border-b border-gray-200 cursor-pointer" @click="fullsidebar = !fullsidebar" >
        <div class="cursor-pointer transition relative nav-icon" :class="(fullsidebar) ? 'open' : ''">
          <span class="block absolute bg-gray-700 opacity-100 left-0 transition w-full"></span>
          <span class="block absolute bg-gray-700 opacity-100 left-0 transition w-full"></span>
          <span class="block absolute bg-gray-700 opacity-100 left-0 transition w-full"></span>
          <span class="block absolute bg-gray-700 opacity-100 left-0 transition w-full"></span>
        </div>
      </span>
      <transition name="slide-fade">
        <router-view/>
      </transition>
    </div>
  </div>
</template>

<script>
import Sidenav from './components/Sidenav'
import Profile from './components/Profile'
export default {
  name: "App",
  data() {
    return {
      showSides: false,
      fullsidebar: false,
    }
  },
  components: {
    Sidenav,
    Profile,
  },
  watch: {
    '$route' (to, from) {
      document.title = to.meta.title || 'Collemap'
      if(!to.meta.hidesides) {
        this.showSides = true
        this.fullsidebar = true
      }
      else {
        this.showSides = false
        this.fullsidebar = false
      }
    }
  },
}
</script>

<style lang="scss">
.nav-icon { width: 30px; height: 25px; transform: rotate(0deg);
  span { height: 6px; border-radius: 9px; transform: rotate(0deg);
    &:nth-child(1) { top: 0 }
    &:nth-child(2), &:nth-child(3) { top: 9px }
    &:nth-child(4) { top: 18px }
  }
  &.open {
    span {
      &:nth-child(2) { transform: rotate(45deg); }
      &:nth-child(3) { transform: rotate(-45deg); }
      &:nth-child(1) { top: 18px; width: 0%; left: 50%; }
      &:nth-child(4) { top: 18px; width: 0%; left: 50%; }
    }
  }
}
</style>