<template>
    <div class="dropdown">
        <h2 class="text-xl mb-8">Dropdown Settings</h2>
        <div class="mb-8 relative">
            <input type="text" placeholder="Dropdown Question" v-model="info.qst" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert a Dropdown Question</span>
        </div>
        <div class="mb-8 relative" v-for="choice in info.choices" :key="choice.id">
            <input type="text" placeholder="Dropdown Value" v-model="choice.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert a Dropdown Value</span>
        </div>
        <button v-if="info.choices[0].title" class="bg-secondBlue block text-white py-2 px-8 rounded focus:outline-none transition mb-4" @click="addChoice">Add Value</button>
        <span v-if="info.choices.length > 1 && info.choices[1].title">
            <button class="bg-green-600 hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition mr-4" @click="save(info)">Save</button>
        </span>
        <button class="bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition" @click="cancel">Back</button>
    </div>
</template>

<script>
let choiceId = 1
export default {
    name: "Dropdown",
    data() {
        return {
            info: {
                qst: '',
                choices: [
                    {id: choiceId++, title: ''}
                ]
            },
            errorInput: false
        }
    },
    methods: {
        save(info) {
            for(let i = 0; i < info.choices.length; i++) {
                if (!info.qst || !info.choices[i].title) {
                    this.errorInput = true
                    return
                }
            } 
            this.$emit('update-dropdown', info)
        },
        cancel() {
            this.$emit('dropdown-cancel', false)
        },
        addChoice() {
            this.info.choices.push({id: choiceId++, title: ''})
        }
    },
}
</script>