<template>
    <div class="fileupload">
        <h2 class="text-xl mb-8">Fileupload Settings</h2>
        <div class="mb-8 relative">
            <input type="text" placeholder="Fileupload name" v-model="name.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert a Fileupload Name</span>
        </div>
        <div class="mb-8 relative">
            <vSelect multiple placeholder="Authorized files" v-model="name.auth" :options="inputTypes" />
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert Fileupload Authorized files</span>
        </div>
        <div class="mb-8 relative">
            <input type="number" placeholder="Fileupload Size Limit in MB (default is 10MB)" v-model="name.filelimit" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert a Fileupload Size limit</span>
        </div>
        <span v-if="name.title && name.auth">
            <button class="bg-green-600 hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition mr-4" @click="save(name)">Save</button>
        </span>
        <button class="bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition" @click="cancel">Cancel</button>
    </div>
</template>

<script>
import vSelect from 'vue-select'
export default {
    name: "Fileupload",
    components: {
        vSelect
    },
    data() {
        return {
            name: {
                title: '',
                auth: [],
                filelimit: ''
            },
            inputTypes: ["png", "jpg", "jpeg", "gif", "csv", "xls", "xlsx"],
            errorInput: false
        }
    },
    methods: {
        save(name) {   
            let title = name.title
            title = this.removeSpecialChars(title)
            name.title = title
            name.filelimit = (name.filelimit) ? name.filelimit : '10'
            if(title && name.auth)
                this.$emit('update-fileupload', name)
            else
                this.errorInput = true
        },
        cancel() {
            this.$emit('fileupload-cancel', false)

        },
        removeSpecialChars(str) {
            return str
                .replace(/(?!\w|\s)./g, '')
                .replace(/\s+/g, '')
                .replace(/^(\s*)([\W\w]*)(\b\s*$)/g, '$2')
                .toLowerCase()
        }
    },
}
</script>