<template>
    <div class="input">
        <h2 class="text-xl mb-8">Input Settings</h2>
        <div class="mb-8 relative">
            <input type="text" placeholder="Input name" v-model="name.title" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert an input Name</span>
        </div>
        <div class="mb-8 relative">
            <vSelect placeholder="Input Type" v-model="name.type" :options="inputTypes" />
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert an input Type</span>
        </div>
        <span v-if="name.title && name.type">
            <button class="bg-green-600 hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition mr-4" @click="save(name)">Save</button>
        </span>
        <button class="bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition" @click="cancel">Cancel</button>
    </div>
</template>

<script>
import vSelect from 'vue-select'
export default {
    name: "Input",
    data() {
        return {
            name: {
                title: '',
                type: ''
            },
            inputTypes: ["text", "email", "tel", "number", "password"],
            errorInput: false
        }
    },
    methods: {
        save(name) {   
            let title = name.title
            title = this.removeSpecialChars(title)
            name.title = title
            if(title && name.type)
                this.$emit('update-input', name)
            else
                this.errorInput = true
        },
        cancel() {
            this.$emit('input-cancel', false)

        },
        removeSpecialChars(str) {
            return str
                .replace(/(?!\w|\s)./g, '')
                .replace(/\s+/g, '')
                .replace(/^(\s*)([\W\w]*)(\b\s*$)/g, '$2')
                .toLowerCase()
        }
    },
    components: {
        vSelect
    }
}
</script>