<template>
    <div class="paragraph">
        <h2 class="text-xl mb-8">Paragraph Settings</h2>
        <div class="mb-8 relative">
            <input type="text" placeholder="Paragraph name" v-model="name" class="focus:outline-none py-1 border-b border-gray-400 placeholder-gray-500 focus:placeholder-mainBlue w-full">
            <span class="input-border absolute left-0 block bg-mainBlue w-0 h-px hover:w-full transition"></span>
            <span class="my-2 block text-left text-red-600" v-if="errorInput">Please insert a Paragraph Name</span>
        </div>
        <span v-if="name">
            <button class="bg-green-600 hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition mr-4" @click="save(name)">Save</button>
        </span>
        <button class="bg-mainBlue hover:bg-secondBlue text-white py-2 px-8 rounded focus:outline-none transition" @click="cancel">Back</button>
    </div>
</template>

<script>
export default {
    name: "Paragraph",
    data() {
        return {
            name: '',
            errorInput: false
        }
    },
    methods: {
        save(name) {
            name = this.removeSpecialChars(name)
            if(name)
                this.$emit('update-paragraph', name)
            else
                this.errorInput = true
        },
        cancel() {
            this.$emit('paragraph-cancel', false)
        },
        removeSpecialChars(str) {
            return str
                .replace(/(?!\w|\s)./g, '')
                .replace(/\s+/g, '')
                .replace(/^(\s*)([\W\w]*)(\b\s*$)/g, '$2')
                .toLowerCase()
        }
    }
}
</script>